/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------General Syles---------------------------------------------------------- */
html {
  @apply scroll-smooth;
}

*::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

*::-webkit-scrollbar-thumb {
  @apply rounded bg-slate-300;
}

*::-webkit-scrollbar-track {
  @apply !bg-transparent;
}

body {
  @apply font-questrial text-slate-600;
}

img {
  @apply object-cover;
}

p,
a,
svg {
  @apply text-muted;
}

p {
  @apply leading-6;
}

a.btn {
  @apply opacity-100;
}

.center-center {
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.card {
  @apply p-4 bg-white border rounded-lg;
}

button:disabled {
  @apply opacity-50;
}

.btn {
  @apply px-5 py-2 rounded-lg transition-a capitalize flex-shrink-0;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primary/80;
}

.btn-secondary {
  @apply bg-secondary text-white hover:bg-secondary/80;
}

.icon-box {
  @apply grid flex-shrink-0 rounded-full w-9 h-9 place-items-center text-muted bg-slate-200 hover:bg-slate-300 transition-colors sm:cursor-pointer;
}

.avatar {
  @apply w-10 h-10 rounded-full;
}

/* Back to top button */
.back-to-top-btn {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.back-to-top-btn.active {
  opacity: 1;
  visibility: visible;
}

/* Modals*/
.modal {
  @apply fixed top-0 left-0 z-[99] w-full h-full opacity-0 pointer-events-none bg-black/50 lg:static lg:opacity-100 lg:pointer-events-auto lg:bg-transparent transition-a;
}

.dialog {
  @apply absolute text-[15px] left-0 px-2 top-0 max-w-[250px] bg-white z-[99]  w-full h-full -translate-x-[500px] lg:fixed lg:translate-x-0 lg:border-r transition-a;
}

.dialog a {
  @apply rounded-md;
}

.dialog a.active {
  @apply bg-primary text-white;
}

.modal.open,
.dialog.open {
  @apply translate-x-0 opacity-100 pointer-events-auto;
}

/* For Navbar */
@media (max-width: 1024px) {
  .navbar {
    width: 100vw !important;
  }
}

/* Inputs */
input,
select,
textarea {
  @apply px-3 py-2 border-gray-300 outline-none transition-a w-full text-base !rounded-md autofill:input-shadow autofill:!ring-2 autofill:!ring-primary;
}

input[type="checkbox"],
input[type="radio"] {
  @apply !w-5 !h-5 border-gray-300;
}

input[type="radio"] {
  @apply !rounded-full;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  @apply !shadow-blue-500/30 !shadow-md bg-primary hover:bg-primary !border-primary !ring-primary active:!bg-primary text-primary;
}

/* ------------------------------------ Custom Styles--------------------------------------------------------------------------- */
/* Sidebar Submenu */

.sub-menu li {
  @apply relative sm:cursor-pointer;
}

.sub-menu li a {
  @apply block py-2 text-sm text-slate-400 before:!hidden after:absolute after:w-2 after:h-2 after:border after:rounded-full after:-left-5 after:top-1/2 after:-translate-y-1/2 after:border-slate-300;
}

.sub-menu li a.active {
  @apply after:border-0 after:bg-primary !bg-inherit !text-primary;
}

.sub-menu li:hover a,
.sub-menu li.active a {
  @apply text-primary;
}

/* Tooltip */
.tooltip-enter {
  opacity: 0;
}

.tooltip-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.tooltip-exit {
  opacity: 1;
}

.tooltip-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* React Tabs */
.react-tabs__tab-list {
  @apply !border-slate-300 flex-align-center gap-x-4 border-b;
}

.react-tabs__tab {
  @apply !border-0 cursor-pointer  focus-visible:!outline-none;
}

.react-tabs__tab--selected {
  @apply !bg-transparent !border-b-2 !border-solid !border-primary !text-inherit !text-primary;
}

.react-tabs__tab:focus:after {
  @apply !hidden;
}

/* Table */
.table-wrapper {
  @apply border-collapse text-[#717382] w-full;
}

table .btn,
table svg {
  @apply !text-sm !opacity-100;
}

.table-wrapper::-webkit-scrollbar {
  @apply hidden h-[8px];
}

.table-wrapper:hover::-webkit-scrollbar {
  @apply block;
}

.table-wrapper table {
  @apply rounded-lg !border !border-b-slate-200 !mt-4 md:mt-1;
}

table th,
table td {
  @apply whitespace-nowrap text-[14px];
}

.table-wrapper tr {
  @apply table-row;
}

.table-wrapper td {
  @apply !py-4 px-[0.4rem] text-left !border-t;
}

.table-wrapper th {
  @apply py-4 px-[0.4rem] text-left font-bold;
}

/* Datatables */
.dataTables_filter,
.dataTables_length {
  @apply mt-5 !float-none;
}

.custom_filters {
  @apply flex-col sm:flex-row flex-center-between gap-4 sm:gap-0;
}

.custom_filters input,
.custom_filters select {
  @apply !outline-none !rounded-lg !border !border-gray-300  focus:!border-primary !inline;
}

.dataTables_length select {
  @apply !w-20;
}

.dataTables_wrapper .dataTables_paginate {
  @apply !border !border-slate-300 rounded-lg mt-2 !p-0;
}

.dataTables_paginate .paginate_button {
  background-image: none !important;
  @apply !border-none;
}

.dataTables_paginate .paginate_button.next:hover,
.dataTables_paginate .paginate_button.previous:hover {
  @apply !text-inherit;
}

.dataTables_paginate .paginate_button:not(.previous, .next):hover {
  @apply !border-none !bg-primary;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  @apply !border-none !bg-primary !text-white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  @apply !text-white;
}

/* NProgress */
#nprogress .bar {
  @apply !bg-primary h-[3px] z-[99999];
}

#nprogress .spinner-icon {
  @apply border-primary;
  border-block-end-color: transparent !important;
}

#nprogress .peg {
  @apply !shadow-none;
}

/* Form Wizard */
.form-wizard svg {
  @apply !opacity-100;
}

.wizard-step:not(.wizard-step:last-child) {
  @apply border-r border-r-slate-300;
}

.wizard-step:last-child:before {
  display: none;
}
